@using SimonSampleApp.Web.Data
@model IEnumerable<SimonSampleApp.Web.Models.OneSignalAppModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SiteName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SafariSiteOrigin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChromeWebOrigin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SiteName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SafariSiteOrigin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChromeWebOrigin)
            </td>
            <td>
                @if (User.IsInRole(AppDbContext.AdminRoleName))
                {
                    <text>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    </text>
                }
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
